<li class="search_result">
  <% page = result.page %>
  <h3><%= link_to page.name, show_alchemy_page_path(page) %></h3>
  <% if result.excerpts.any? %>
    <% result.excerpts.each do |excerpt| %>
    <p><%= highlighted_excerpt(excerpt, params[:query]) %></p>
    <% end %>
  <% else %>
    <p><%= page.meta_description %></p>
  <% end %>
  <p><%= link_to page.urlname, show_alchemy_page_path(page) %></p>
</li>
