<li class="search_result">
  <% page = result.searchable %>
  <h3><%= link_to page.name, show_alchemy_page_path(page) %></h3>
  <p><%= highlighted_excerpt(result.content, params[:query]) %></p>
  <p><%= link_to page.urlname, show_alchemy_page_path(page) %></p>
</li>
