<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="headline">
      <%= el.render :headline %>
    </div>
    <div class="text">
      <%= el.render :text %>
    </div>
  <%- end -%>
<%- end -%>
