<%- cache(secrets_view) do -%>
  <%= element_view_for(secrets_view) do |el| -%>
    <div class="passwords">
      <%= el.render :passwords %>
    </div>
    <div class="confidential">
      <%= el.render :confidential %>
    </div>
  <%- end -%>
<%- end -%>
